body {
    font-family : Arial;
}

@font-face {
    font-family : coffee; 
    src : url('../fonts/coffeeregular.ttf');
}

#caption {
    text-align : center;
    color : #474747;
    font-family : coffee;
    font-size : 80px;
}

#container {
    width : 1000px;
    overflow : hidden;
}

#regform {
    width : 350px;
    overflow : hidden;
    border : 2px dashed #AAA;
    padding : 30px;
}

#login {
    padding-top : 10px;
    padding-bottom : 10px;
    width : 200px;
    height : 175px;
    border : 2px dashed #AAA;
    float : left;
}

#randomgalery {
    vertical-align:  middle;
    height : 175px;
    float : left;
    width : 750px;
    padding : 10px;
    border : 2px dashed #AAA;
}

.littlegreytext {
    font-size : 20px;
    color : #C2C2C2;
    font-family : Arial;
}

.big {
    text-align : center;
    color : #474747;
    font-family : coffee;
    font-size : 50px;
}

a.littlegreylink {
    font-size : 15px;
    color : #777;
    font-family : Arial;
    text-decoration : none;
}

table.admintable {
    border : 2px dashed #999;
    width : 900px;
    height : 40px;
    text-align : center;
}

td {
    padding : 10px;
}